[Desktop Entry]
Version=1.0
Type=Application
Name=Firefox
Comment=Browse the web
Exec={{ desktop_firefox_launcher_path }} %U
Icon=firefox
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
