[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Use the command line
Exec=xfce4-terminal
Icon=org.xfce.terminal
Terminal=false
StartupNotify=true
Categories=System;TerminalEmulator;
